.error {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  max-width: 18.75rem;
  font-weight: 400;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0 0 1.25rem;
}

.title {
  display: flex;
  font-weight: 700;
  color: #198754;
  font-size: 1.5rem;
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.form {
  min-width: 22rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.details {
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.details .card {
  width: 90%;
  border: transparent;
}

.icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
  cursor: pointer;
}

.delete, .edit {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.edit {
  padding-left: 0.25rem;
}

.delete:hover, .delete:active {
  background-color: #ff3333;
}

.delete:hover, svg:hover {
  fill: #FFFFFF;
}

.edit:hover, .edit:active {
  background-color: 	#00cc66;
}

.edit:hover, svg:hover {
  fill: #FFFFFF;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.field-error {
  border: 1px solid #ff3333;
}